@{
    ViewData["Title"] = "Inicio";
    Layout = "WorkerLayout";
}
<div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="content-body">
            <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Company Table Card -->
                    <div class="card card-company-table">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Category</th>
                                        <th>Views</th>
                                        <th>Revenue</th>
                                        <th>Sales</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/toolbox.svg" alt="Toolbar svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Dixons</div>
                                                    <div class="font-small-2 text-muted">meguc@ruj.io</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-primary mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="monitor" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Technology</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">23.4k</span>
                                                <span class="font-small-2 text-muted">in 24 hours</span>
                                            </div>
                                        </td>
                                        <td>$891.2</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">68%</span>
                                                <i data-feather="trending-down" class="text-danger font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/parachute.svg" alt="Parachute svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Motels</div>
                                                    <div class="font-small-2 text-muted">vecav@hodzi.co.uk</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-success mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="coffee" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Grocery</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">78k</span>
                                                <span class="font-small-2 text-muted">in 2 days</span>
                                            </div>
                                        </td>
                                        <td>$668.51</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">97%</span>
                                                <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/brush.svg" alt="Brush svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Zipcar</div>
                                                    <div class="font-small-2 text-muted">davcilse@is.gov</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-warning mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="watch" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Fashion</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">162</span>
                                                <span class="font-small-2 text-muted">in 5 days</span>
                                            </div>
                                        </td>
                                        <td>$522.29</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">62%</span>
                                                <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/star.svg" alt="Star svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Owning</div>
                                                    <div class="font-small-2 text-muted">us@cuhil.gov</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-primary mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="monitor" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Technology</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">214</span>
                                                <span class="font-small-2 text-muted">in 24 hours</span>
                                            </div>
                                        </td>
                                        <td>$291.01</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">88%</span>
                                                <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/book.svg" alt="Book svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Cafés</div>
                                                    <div class="font-small-2 text-muted">pudais@jife.com</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-success mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="coffee" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Grocery</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">208</span>
                                                <span class="font-small-2 text-muted">in 1 week</span>
                                            </div>
                                        </td>
                                        <td>$783.93</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">16%</span>
                                                <i data-feather="trending-down" class="text-danger font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/rocket.svg" alt="Rocket svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Kmart</div>
                                                    <div class="font-small-2 text-muted">bipri@cawiw.com</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-warning mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="watch" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Fashion</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">990</span>
                                                <span class="font-small-2 text-muted">in 1 month</span>
                                            </div>
                                        </td>
                                        <td>$780.05</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">78%</span>
                                                <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded">
                                                    <div class="avatar-content">
                                                        <img src="../../../app-assets/images/icons/speaker.svg" alt="Speaker svg" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="font-weight-bolder">Payers</div>
                                                    <div class="font-small-2 text-muted">luk@izug.io</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-light-warning mr-1">
                                                    <div class="avatar-content">
                                                        <i data-feather="watch" class="font-medium-3"></i>
                                                    </div>
                                                </div>
                                                <span>Fashion</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="font-weight-bolder mb-25">12.9k</span>
                                                <span class="font-small-2 text-muted">in 12 hours</span>
                                            </div>
                                        </td>
                                        <td>$531.49</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="font-weight-bolder mr-1">42%</span>
                                                <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!--/ Company Table Card -->
                <!-- Transaction Card -->
                    <div class="card card-transaction">
                        <div class="card-header">
                            <h4 class="card-title">Transactions</h4>
                            <div class="dropdown chart-dropdown">
                                <i data-feather="more-vertical" class="font-medium-3 cursor-pointer" data-toggle="dropdown"></i>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="transaction-item">
                                <div class="media">
                                    <div class="avatar bg-light-primary rounded">
                                        <div class="avatar-content">
                                            <i data-feather="pocket" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="transaction-title">Wallet</h6>
                                        <small>Starbucks</small>
                                    </div>
                                </div>
                                <div class="font-weight-bolder text-danger">- $74</div>
                            </div>
                            <div class="transaction-item">
                                <div class="media">
                                    <div class="avatar bg-light-success rounded">
                                        <div class="avatar-content">
                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="transaction-title">Bank Transfer</h6>
                                        <small>Add Money</small>
                                    </div>
                                </div>
                                <div class="font-weight-bolder text-success">+ $480</div>
                            </div>
                            <div class="transaction-item">
                                <div class="media">
                                    <div class="avatar bg-light-danger rounded">
                                        <div class="avatar-content">
                                            <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="transaction-title">Paypal</h6>
                                        <small>Add Money</small>
                                    </div>
                                </div>
                                <div class="font-weight-bolder text-success">+ $590</div>
                            </div>
                            <div class="transaction-item">
                                <div class="media">
                                    <div class="avatar bg-light-warning rounded">
                                        <div class="avatar-content">
                                            <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="transaction-title">Mastercard</h6>
                                        <small>Ordered Food</small>
                                    </div>
                                </div>
                                <div class="font-weight-bolder text-danger">- $23</div>
                            </div>
                            <div class="transaction-item">
                                <div class="media">
                                    <div class="avatar bg-light-info rounded">
                                        <div class="avatar-content">
                                            <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="transaction-title">Transfer</h6>
                                        <small>Refund</small>
                                    </div>
                                </div>
                                <div class="font-weight-bolder text-success">+ $98</div>
                            </div>
                        </div>
                    </div>
                <!--/ Transaction Card -->
            </div>
            <!--Calendar-->
            <div class="card col-lg-6 col-12">
                <div class="card-header">
                    <h4 class="card-title">Programe sus tareas</h4>
                </div>
                <div class="card-body">
                    <section>
                        <div class="app-calendar overflow-hidden border">
                            <div class="row no-gutters">
                                <!-- Sidebar -->
                                <!--<div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column" id="app-calendar-sidebar">
                                    <div class="sidebar-wrapper">
                                        <div class="card-body d-flex justify-content-center">
                                            <button class="btn btn-primary btn-toggle-sidebar btn-block" data-toggle="modal" data-target="#add-new-sidebar">
                                                <span class="align-middle">Add Event</span>
                                            </button>
                                        </div>
                                        <div class="card-body pb-0">
                                            <h5 class="section-label mb-1">
                                                <span class="align-middle">Filter</span>
                                            </h5>
                                            <div class="custom-control custom-checkbox mb-1">
                                                <input type="checkbox" class="custom-control-input select-all" id="select-all" checked />
                                                <label class="custom-control-label" for="select-all">View All</label>
                                            </div>
                                            <div class="calendar-events-filter">
                                                <div class="custom-control custom-control-danger custom-checkbox mb-1">
                                                    <input type="checkbox" class="custom-control-input input-filter" id="personal" data-value="personal" checked />
                                                    <label class="custom-control-label" for="personal">Personal</label>
                                                </div>
                                                <div class="custom-control custom-control-primary custom-checkbox mb-1">
                                                    <input type="checkbox" class="custom-control-input input-filter" id="business" data-value="business" checked />
                                                    <label class="custom-control-label" for="business">Business</label>
                                                </div>
                                                <div class="custom-control custom-control-warning custom-checkbox mb-1">
                                                    <input type="checkbox" class="custom-control-input input-filter" id="family" data-value="family" checked />
                                                    <label class="custom-control-label" for="family">Family</label>
                                                </div>
                                                <div class="custom-control custom-control-success custom-checkbox mb-1">
                                                    <input type="checkbox" class="custom-control-input input-filter" id="holiday" data-value="holiday" checked />
                                                    <label class="custom-control-label" for="holiday">Holiday</label>
                                                </div>
                                                <div class="custom-control custom-control-info custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input input-filter" id="etc" data-value="etc" checked />
                                                    <label class="custom-control-label" for="etc">ETC</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <img src="../../../app-assets/images/pages/calendar-illustration.png" alt="Calendar illustration" class="img-fluid" />
                                    </div>
                                </div>-->
                                <!-- /Sidebar -->

                                <!-- Calendar -->
                                <div class="col position-relative">
                                    <div class="card shadow-none border-0 mb-0 rounded-0">
                                        <div class="card-body pb-0">
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Calendar -->
                                <div class="body-content-overlay"></div>
                            </div>
                        </div>
                        <!-- Calendar Add/Update/Delete event modal-->
                        <div class="modal modal-slide-in event-sidebar fade" id="add-new-sidebar">
                            <div class="modal-dialog sidebar-lg">
                                <div class="modal-content p-0">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                                    <div class="modal-header mb-1">
                                        <h5 class="modal-title">Añadir evento</h5>
                                    </div>
                                    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                        <form class="event-form needs-validation" data-ajax="false" novalidate>
                                            <div class="form-group">
                                                <label for="title" class="form-label">Titulo</label>
                                                <input type="text" class="form-control" id="title" name="title" placeholder="Event Title" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="select-label" class="form-label">Etiqueta</label>
                                                <select class="select2 select-label form-control w-100" id="select-label" name="select-label">
                                                    <option data-label="primary" value="Business" selected>Compras</option>
                                                    <option data-label="danger" value="Personal">Funcionarios</option>
                                                    <option data-label="warning" value="Family">Proveedores</option>
                                                    <option data-label="success" value="Holiday">Eventos</option>
                                                    <option data-label="info" value="ETC">Otros</option>
                                                </select>
                                            </div>
                                            <div class="form-group position-relative">
                                                <label for="start-date" class="form-label">Inicio</label>
                                                <input type="text" class="form-control" id="start-date" name="start-date" placeholder="Start Date" />
                                            </div>
                                            <div class="form-group position-relative">
                                                <label for="end-date" class="form-label">Fin</label>
                                                <input type="text" class="form-control" id="end-date" name="end-date" placeholder="End Date" />
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input allDay-switch" id="customSwitch3" />
                                                    <label class="custom-control-label" for="customSwitch3">Todo el dia</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="event-url" class="form-label">URL del evento</label>
                                                <input type="url" class="form-control" id="event-url" placeholder="https://www.google.com" />
                                            </div>
                                            <div class="form-group select2-primary">
                                                <label for="event-guests" class="form-label">Add Guests</label>
                                                <select class="select2 select-add-guests form-control w-100" id="event-guests" multiple>
                                                    <option data-avatar="1-small.png" value="Jane Foster">Jane Foster</option>
                                                    <option data-avatar="3-small.png" value="Donna Frank">Donna Frank</option>
                                                    <option data-avatar="5-small.png" value="Gabrielle Robertson">Gabrielle Robertson</option>
                                                    <option data-avatar="7-small.png" value="Lori Spears">Lori Spears</option>
                                                    <option data-avatar="9-small.png" value="Sandy Vega">Sandy Vega</option>
                                                    <option data-avatar="11-small.png" value="Cheryl May">Cheryl May</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="event-location" class="form-label">Ubicación</label>
                                                <input type="text" class="form-control" id="event-location" placeholder="Enter Location" />
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Descripción</label>
                                                <textarea name="event-description-editor" id="event-description-editor" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group d-flex">
                                                <button type="submit" class="btn btn-primary add-event-btn mr-1">Añadir</button>
                                                <button type="button" class="btn btn-outline-secondary btn-cancel" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary update-event-btn d-none mr-1">Editar</button>
                                                <button class="btn btn-outline-danger btn-delete-event d-none">Eliminar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Calendar Add/Update/Delete event modal-->
                    </section>
                </div>
            </div>
            <!--/ Calendar-->
            </div>
        </div>
    </div>