# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SerCompra.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\julian.Julian\RiderProjects\SerCompra\.idea\.idea.SerCompra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
